/* Hauptbutton */
.fixed-contact-button .main-button {
  position: relative;
  z-index: 9999;
  transition: all 0.3s ease;
}
.fixed-contact-button .main-button,
.fixed-contact-button .contact-option {
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

@media (max-width: 768px) {
  .fixed-contact-button .main-button,
  .fixed-contact-button .contact-option {
    /* width: 40px;
    height: 40px; */
    font-size: 1.5rem;
  }
}

.fixed-contact-button .contact-option {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s ease, opacity 0.2s ease, transform 0.3s ease-out;
  transform: translateX(-50%) scale(0.25);
  transform-origin: bottom center;
  position: absolute;
  right: auto;
  left: 50%;
}

.fixed-contact-button .main-button img,
.fixed-contact-button .contact-option img {
  width: 100%;
  max-width: 90%;
  object-fit: contain;
}


.fixed-contact-button .main-button:hover,
.fixed-contact-button .contact-option:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.fixed-contact-button .contact-option:hover {
  transform: translate(-50%, var(--translateY, 0)) scale(1.1) !important;
  transform-origin: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.fixed-contact-button .main-button:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.main-button__label, 
.contact-option__label {
  font-size: 14px;
}

.fixed-contact-button .contact-options {
  /* transition: visibility 0.4s ease, opacity 0.4s ease, transform 0.4s ease-in-out; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  inset: 0;
  margin-bottom: 10px;
}

.fixed-contact-button.top .contact-options {
  margin-bottom: 0;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .fixed-contact-button .contact-options {
    margin-bottom: 5px;
  
  }
  .fixed-contact-button.top .contact-options {
    margin-bottom: 0;
    margin-top: 5px;
  }
}


.fixed-contact-button.active .contact-option {
  visibility: visible;
}

.fixed-contact-button .icon-active {
  display: none;
}
.fixed-contact-button.active .icon-active {
  display: inline-block!important;
}

.fixed-contact-button.active .icon-default {
  display: none;
}